* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* header */
.header.fixed{
    position: sticky;
    top: -44px;
    z-index: 1;
    background-color: #fff;

}

.header .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 0 8px 0;
}

.header .nav {
    /* margin-left: 215px; */
    display: flex;
}

.header .nav a {
    padding: 8px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    color: #2f3a3b;
}

.header .nav a.active {
    font-weight: 600;
}

.header .form-log-in .sign {
    /* padding: 0 26px; */
    width: 108px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    color: #494949;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.header .form-log-in .sign-up{
color: #1EBFC1;
border-radius: 6px;
border: 1px solid currentColor;
}
